<form method="post">
    <div>
        <p>
            <label for="name">Name</label><br />
            <input type="text" id="name" name="name" />
        </p>
        <p>
            <label for="age">Age</label><br />
            <input id="age" name="age" />
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </div>
</form>